





scroll-container {
  display: block;
  width: 100%;
  height: 200px;
  background-color:#ccc;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}
scroll-page {
  display: inline-block;
  height: 100px;
  font-size: 30px;
  width: 400px;
}

/*---------------------------------------------*/
  /* Enter your Styles below! */

/*.panel {
  height: 50%;
  width: 100%;
}
*/
body {
  width: 100%;
}

h1 {
  font-family: tenez, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
  color: #64e0ba;
}

h2{
  font-family: 'sporting_grotesqueregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size:30px;
  color:#f3923d;
}

h3 {
  font-family: tenez, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 45px;
  color: #f3923d;
  text-align: center;

}


h6{font-family: 'sporting_grotesqueregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size:20px;
  color:#f3923d;
  text-align:center;

}

p {
  font-family: 'sporting_grotesqueregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sporting_grotesqueregular';
  src: url('font/sportinggrotesque-regular-webfont.woff2') format('woff2'), url('font/sportinggrotesque-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*////////////////////////Nav//////////////////////////*/

nav {
  width: 100%;
  margin: auto;
  position:sticky;
}

ul {
  display: flex;
  padding: 10px;
}

li {
  padding: 10px;
  margin: auto;
  z-index: 99;
}

a {
  text-decoration: none;
  color: #000;
   font-family: 'sporting_grotesqueregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size:12px;
}

a.active {
  background-color: #4CAF50;
  color: white;
}

a:visited {
  color: #000;
}

/*////////////////////////Home//////////////////////////*/


.banner h1{
  font-size:200px;
  color:#000;
  background-color:#fff;
  width:100%;
  text-align:center;
  height:70vh;
  mix-blend-mode: screen;
  position: absolute;
  padding-top:80px;
  top:20%;
  line-height: 1em;

}


.tea-h1{
    font-size:250px;

}


 video {
  width: 800px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.home-text{
  width:100%;
  margin:auto;
  display:grid;
  text-align: center;
  z-index:5;
  }


.hs-logo{
  margin:auto;  
  }


.home-para-section{
   border-bottom:solid 1px #000;
   text-align:center;
   line-height: 1.3em;
   padding:20px;
   margin-bottom:50px;
}

.tea-section-h1{
  color:#ccc;
  text-align: center;
  font-size:40px;
  width:100%;
  margin-top:60px;
  padding:10px;

  }

.home-tea-images{
  width:100%;
  margin:auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding:40px;
  }

.peppermint-home-img, .coconut-home-img, .earl-home-img{
  width:70%;
  padding:50px;
  }

.home-about{

  padding:40px;
  width:100%;
  height:40vh;
/*  background: url("../images/about-img.png") no-repeat center;*/


  }

.about-h1{
  color:#ccc;
  font-size:40px;
  padding:30px;
  text-align:center;
  }

.about-para{

  width:50%;
  padding-left:25%;
  padding-bottom:70px;
  line-height: 1.5em;
  font-size:14px;
  }


/*////////////////////////Peppermint//////////////////////////*/

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}



.wrapper{
  height:100vh;
  overflow-x:hidden;
  overflow-y: auto;
  perspective:300px;

}

.parallax_group{
  position:relative;
  height:300vh;
  width:100vw;
  transform-style: preserve-3d;
} 

.parallax_layer{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


.tea-tin{
 background: url("../images/peppermint.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-850px) scale(1.5);
 z-index:3;

}

.mint1{
 background: url("../images/mint1.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-750px) scale(1.5);
 z-index:2;

}

.mint2{
 background: url("../images/mint2.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-650px) scale(1.5);
 z-index:4;

}


.mint3{
 background: url("../images/mint3.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-1000px) scale(1.5);
 z-index:1;

}

.peppermint-herbal{
  width:100%;
  margin:auto;
  text-align: center;
  margin-top:160px;
}

.intro-text{
 
  height:100vh;
  width:100%;
  background:#fff;
  display:grid;
  grid-template-columns: 60% 40%;
}


.peppermint-paragraph {
  border: solid 2px #dbe3fd;
  width: 40%;
  line-height: 1.5em;
  padding:30px;
  margin-top:200px;
  margin-left:50px;
}

.peppermint-lifestyle-img{
  width:100%;
  padding:0;
  margin:0;
}



/*//////////////////////////Coconut//////////////////////////*/





.green-coconut{
  width:100%;
  margin:auto;
  text-align: center;
  margin-top:160px;
  color:#f4badf;
}

.coconut-tea-tin{
 background: url("../images/coconut-tin.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-850px) scale(1.5);
 z-index:3;

}

.coco1{
 background: url("../images/coco1.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-750px) scale(1.5);
 z-index:2;

}

.coco2{
 background: url("../images/coco2.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-650px) scale(1.5);
 z-index:4;

}


.coco3{
 background: url("../images/coco3.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-1000px) scale(1.5);
 z-index:1;

}



.coco-paragraph {
  border: solid 2px #dbe3fd;
  width: 40%;
  line-height: 1.5em;
  padding:30px;
  margin-top:200px;
  margin-left:50px;
}



/*//////////////////////////Earl Gray//////////////////////////*/

.earl-gray{
  width:100%;
  margin:auto;
  text-align: center;
  margin-top:160px;
  color:#91c3e8;
}

.gray-tea-tin{
 background: url("../images/gray-tin.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-850px) scale(1.5);
 z-index:3;

}

.gray1{
 background: url("../images/gray1.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-750px) scale(1.5);
 z-index:2;

}

.gray2{
 background: url("../images/gray2.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-650px) scale(1.5);
 z-index:4;

}


.gray3{
 background: url("../images/gray3.png") no-repeat center;
 background-size:cover;
 transform:translateZ(-1000px) scale(1.5);
 z-index:1;

}




.gray-paragraph {
  border: solid 2px #dbe3fd;
  width: 40%;
  line-height: 1.5em;
  padding:30px;
  margin-top:200px;
  margin-left:50px;
}

/*//////////////////////////Best Brew//////////////////////////*/





.page2-intro {
  height: 100vh;
  background-color: #fff;
}

.briskness-section-text,
.body-section-text,
.aroma-section-text {
  line-height: 1.5em;
  padding: 70px;
  margin:auto;
  height:40vh;

}


.briskness-section, .body-section, .aroma-section {
  height: 100vh;
  width: 100%;
  background-color: #fff;

}

.briskness-section-text{
  background-color: #64e0ba;
}

.body-section-text {
  background-color: #59cfde;
}

.aroma-section-text {
  background-color: #4dad7a;
}

.briskness-para, .body-para, .aroma-para{
  border: solid 2px #fff;
  width:100%;
  padding:10px;
  margin:auto;

} 


header {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

section {
  width: 100%;
  min-height: 100%;
  float: left;
  position: relative
}

.sticky {
  height: 100%;
  width: 50%;
  float: left;
  position: absolute;
}

.sticky.fixy {
  position: fixed;
  top: 0;
  left: 0;
}

.red {
  background: url("../images/tea-img1.jpg");
}

.scrolling {
  float: right;
  width: 50%;
}



/*////////////////////////Brew//////////////////////////*/


.h1-brew{
  color:#f3923d;
  width:100%;
  margin:auto;
  height:20vh;
  text-align: center;
  padding:30px;
}





.briskness, .body, .aroma {
  height:30vh;
  display:grid;
  grid-template-columns: 60% 40%;
  padding:40px;
  margin-top:30px;
  margin-bottom:30px;
}


.briskness-text, .body-text, .aroma-text {

  background-color:#dbe3fd;
  padding:30px;
  
}

.brew-para{
  width:70%;
  padding-top:10px;
  line-height:1.5em;
}


#peppermint-reveal, #coconut-reveal, #earl-reveal{
margin: auto;
  width: 100%;
  padding: 10px;
  display:none;

}

.green-coconut, .peppermint-herbal, .earl-gray{
  margin-top:30px;
}

#tea_reveal1, #tea_reveal2, #tea_reveal3{
display:block;
margin:auto;
}



 /*-----------------------Shopping ---------------------*/




 header {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   flex-flow: row wrap;
}
 header ul {
   padding: 1.2em 0 0.5em;
}
 header span {
   padding: 0 0 0 0.5em;
}
 header span, header i {
   color: #2b2d42;
}
 header i:nth-of-type(2) {
   cursor: pointer;
}
 .row {
   width: 70%;
   justify-content: flex;
   display: flex;
   flex-flow: row wrap;
   margin:auto;
}
 .product, .product-peppermint, .product-coconut, .product-earl, .product-all {
   width: 15em;
   height: auto;
   padding: 2em;
   margin: 1em;
   overflow: hidden;
   position: relative;
   flex: auto;
}
 .product-peppermint {
   border:solid 1px #64e0ba;
  }
 .product-coconut {
   border:solid 1px #f4badf;
  }
 .product-earl {
   border:solid 1px #91c3e8;
  }

 .product-all {
   border:solid 1px #ccc;}
   
 .product img, .product-peppermint img, .product-coconut img, .product-earl img, .product-all img {
   max-width: 100%;
   height: auto !important;
   text-align: center;
}
 .product_inner {
   display: flex;
   align-items: center;
   flex-flow: column wrap;
}
 .product_inner p {
   color: rgba(255, 255, 255, 0.9);
}
 .product_inner button {
   border: 1px solid rgba(255, 255, 255, 0.5);
   color: #fff;
   padding: 1em 3em;
   margin: 1em 0 0 0;
   background: none;
   cursor: pointer;
   transition: background ease-in 0.25s;
}
 .product_inner button:hover {
   background: rgba(255, 255, 255, 1);
   color: #2b2d42;
}
 .product_inner button:before {
   font-family: 'sporting_grotesqueregular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
   color: #fff;
   position: absolute;
   font-size: 1.5em;
   margin: 0 -1.5em;
}
 .product_inner button:hover:before {
   color: #2b2d42;
}
 .product_overlay {
   background: rgba(255, 255, 255, 0.9);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   transform: translateY(-500px);
   opacity: 0;
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
}
 .product_overlay h2 {
   color: rgba(43, 45, 66, 0.7);
   font-size: 1.2em;
   margin: 1em 0;
}
 .product_overlay i {
   color: rgba(43, 45, 66, 0.7);
   font-size: 1.5em;
}


.peppermint-shop2{
  display:none;
}

/*//////////////////////////FOOTER//////////////////////////*/

footer {
  width: 100%;
  margin: auto;
  color: #ccc;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 14px;
}


/*////////////////////////////////////////////////////*/

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1224px) {

}