/* Enter your Styles below! */

body{
	width:100%;
}


h1{

font-family: tenez, sans-serif;
font-weight: 900;
font-style: normal;
font-size:30px;
color:#64e0ba;
}

p {
font-family: 'sporting_grotesqueregular', Arial, sans-serif;
font-weight:normal;
font-style:normal;
}



@font-face {
    font-family: 'sporting_grotesqueregular';
    src: url('font/sportinggrotesque-regular-webfont.woff2') format('woff2'),
         url('font/sportinggrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*////////////////////////Nav//////////////////////////*/

nav{
	width:100%;
	border: solid 1px #000;
	margin:auto;
}

ul{
	display:flex;
	padding:10px;
}

li{
	padding:10px;
	margin:auto;
}


a{
	text-decoration:none;
	color:#000;
}


a:visited{
	color:#000;
}
/*////////////////////////Page 1//////////////////////////*/
body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color:#d3d3d3;
    }
    .wrapper {
        width: 100vw;
        height: 1000vh;
        position: relative;
        overflow: hidden;
    }


.pos {
        position: absolute;
        top: 500px;
        left: 0;
        width: 100vw;
        height: 200vh;
    }




.tea-tin {
        background: url("../images/peppermint-tea.png")
        center center;
        background-size: cover;
        transform: scale3d(1.1, 1.1, 1.1);
        opacity: 0.2;
        animation: scaler 1s ease-out;
        animation-fill-mode: forwards;
        z-index:1;
    }

.mint-1 {
        background: url("../images/mint1.png")
        center center;
        background-size: cover;
        transform: scale3d(1.1, 1.1, 1.1);
        opacity: 0.2;
        animation: scaler 1s ease-out;
        animation-fill-mode: forwards;
        z-index:1;
    }

.mint-2 {
        background: url("../images/mint2.png") 
        center center;
        background-size: cover;
        transform: scale3d(1.3, 1.3, 1.3);
        opacity: 0.1;
        animation: scaler 1.2s ease-out;
        animation-fill-mode: forwards;
        z-index:-1;
    }

.mint-3 {
        background: url("../images/mint3.png") 
        center center;
        background-size: cover;
        transform: scale3d(1.5, 1.5, 1.5);
        opacity: 0.1;
        animation: scaler 1.2s ease-out;
        animation-fill-mode: forwards;
        z-index:-2;
    }

@keyframes moveUp {
        100% {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }

@keyframes scaler {
        100% {
            transform: scale3d(1, 1, 1);
            opacity: 1;
        }
}

/*
.containter{
    height:1200vh;
    padding-top:100px;
}


.tea-tin{
    border: solid 2px blue;
    background: url("../images/peppermint-tea.png") no-repeat;
    background-size: 60%;
    width: 100%;
    height: 500px;
    top: 100px;
    z-index: -4;
    margin:auto;
    position: fixed;
    
}

.mint-1{
    border: solid 2px green;
    background: url("../images/mint1.png") no-repeat ;
    background-size: 60%;
    width: 100%;
    height: 100vh;
    z-index: -3;
    position:relative;

}




.mint-2{
    border: solid 2px purple;
    background: url("../images/mint2.png") no-repeat ;
    background-size: 60%;
    width: 100%;
    height: 100vh;
    z-index: -4;
 
}
.mint-3{
    border: solid 2px red;
    background: url("../images/mint3.png") no-repeat;
    background-size: 60%;
    width: 100%;
    height:100vh;
    z-index: -1;

}


.intro{
    background-color: #fff;
    width: 100%;
    min-width: 1280px;
    max-width: 1280px;
    height: 1100px;
    z-index: 1;
    position: absolute;
    top: 2150px;
    display: flex;
    flex-direction: column;
}


*/

/*//////////////////////////FOOTER//////////////////////////*/

footer{
  width:100%;
  margin:auto;
  color: #ccc;
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

/*////////////////////////////////////////////////////*/









@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}